@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    
    background: #263238;
}
* {
    margin: 0px;
    padding: 0px;
    color: #e5e5e5;
    font-family: 'PT Sans', sans-serif;
    /* font-family: 'PT Sans Narrow', sans-serif; */    
}
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    /* top: 0;
    bottom: 0;
    left: 0; */
    /* right: 0; */
    height: 13.33vw;
    width: 16.4%;
    opacity: 0;
    transition: .25s ease-in-out;
    background-color: rgba(0,0,0,0.6);
  }
  .overlay1 {
    position: absolute;
    text-align: center;
    height: 10.1vw;
    width: 11.5%;
    transition: .25s ease-in-out;
    background-color: none;
  }
  #tile:hover .overlay {
    opacity: 1;
  }
  #tile2:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    float: center;
  }

  #top_bar {
      background: rgb(22,22,22);
      width:100%;
      padding: 10px 3.5%;
      font-size: 24px;
  }
  #left {
      display: inline-block;
  }
  #right {
      text-align: center;;
  }
  #results {
      width: 100%;
      padding: 2vw 2%;
      margin: 0px;
  }
  #tile {
    height: 13.33vw;
    width: 17%;
    background: url('img/tea.jpg');
    display: inline-block;
    margin: 1vw 1.2%;
    background-size: cover;
    background-position: center;
  }
  #tile2 .overlay {
      text-align: center !important;
      padding-top: 5.5vw;
      font-size: 1.5vw;
      width: 16.25%;
      height: 13.2vw;
  }
  #tile1 {
    height: 10.2vw;
    width: 12%;
    background: rgb(22,22,22);
    display: inline-block;
    margin: 2.7vw 3.7%;
    background-size: cover;
    background-position: center;
  }
  #tile2 {
    height: 13.33vw;
    width: 17%;
    background: url('img/tea.jpg');
    display: inline-block;
    margin: 1vw 1.2%;
    background-size: cover;
    background-position: center;
  }
  #stats {
      width: 33.33%;
      float: left;
      display: inline-block;
      text-align: center;
      margin-top: 3.5vw;
  }
  #stats>i {
      font-size: 1.5vw;
      margin-bottom: 0.35vw;
  }
  #author {
      margin: 1vw;
      font-size: 1.25vw;  
  }
img#user_pic {
    border-radius: 50%;
    height:5vw;
    float: center;
    margin-top: 1vw;
    margin-bottom: 0.4vw;
}
#user {
    font-weight: bold;
    font-size: 16px;
}
#username {
    font-weight: normal;
    font-size: 13px;
}
#row {
    display: inline;
}
.mobile_show {
    display: none !important;
}

  @media only screen and (max-width: 786px) {
      #top_bar {
        display: none;
      }
      #tile, #tile2 {
        width: 32.5%;
        height: 30vw;
        margin: 0%;
        padding: 0px;
        display: inline-block;
      }
      #tile1{
        width: 100%;
        margin: 0vw 0px 0vw 0px;
        padding: 1.25vw 0vw 0vw 0vw;
        height: 12vw;
        align: center;
    }
    .last_tile {
        display: none !important;
    }
    #username {
        display: none;
    }
    #results {
        padding: 0;
    }
     .overlay1 {
          width: 95%;
          height: 20vw;
          text-align: left !important;
          padding-left: 6vw;
      }

      img#user_pic {
          height: 7.5vw;
      }
      #stats>i {
          font-size: 3.5vw;
      }
      #stats {
          margin-top: 4vw;
      }
      #author {
          font-size: 3.5vw;
            margin: 3vw 3vw;
      }
      
  #user {
    font-size: 14px;
    display: inline;
    margin-left: 2vw;
}
img#user_pic {
    display: inline;
}
.overlay {
    display: none;
}
#row {
    display: inline-block;
    width: 100%;
    height: 31vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.mobile_show {
    display: inline-block !important;
}
::-webkit-scrollbar {
  width:1vw !important;
}
  }
