@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
body {
    background: #263238;
    font-family: 'PT Sans', sans-serif;
}
#navbar, button.navbar-toggle {
    background: black;
    border: none !important;
    border-radius: 0px;
}
.icon-bar {
    height: 3px !important;
    background-color: #fff !important;
}
button.navbar-toggle:hover, button.navbar-toggle:focus {
    background: #000 !important;
}
a#brand {
    font-family: 'Cormorant Garamond', serif;
    color: #fff;
    font-size: 26px;
    letter-spacing: 8px;
}
#drop.dropdown-toggle {
    color: #fff !important;
}
#hover.open>a {
    background: black;
}
#check.open>a, #hover>a:hover {
    background: rgb(40,40,40);
}
.drop-wide {
    width: 400px !important;
    padding: 5px 10px 0px 10px;
}
.form-control {
    border-radius: 0px;
}
button#search {
    border-radius: 0px;
    height: 34px;
    margin-left: -10px;
    border-style: none !important;
    box-shadow: none !important;
}
input#search {
    border-style: none;
}
#badge {
    font-size: 20px;
}
.badge-notif:after, .badge-message:after{
    position: absolute;
    background: #f44336;
    height:1.75rem;
    top:1rem;
    right:1rem;
    width:1.75rem;
    text-align: center;
    line-height: 1.75rem;
    font-size: 1.25rem;
    border-radius: 50%;
    color:white;
}
.badge-message:after {
    content: "10";
}
.badge-total:after{
    position: absolute;
    background: #f44336;
    height:2rem;
    top:0rem;
    right:0rem;
    width:2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    border-radius: 50%;
    color:white;
}
.badge-notif:after {
    content: "2";
}

.badge-total:after {
    content: "5";
}
#message, #message_date {
    height: 20px !important;
    overflow: hidden;
}
#message_date {
    opacity : 0.6;
}
img#message_pic {
    height: 46px;
    border-radius: 100%;
}
.drop-wide>li>a {
    padding: 3px 5px;
}
p>a, p>a:hover {
    text-decoration: none;
}
#notification {
    margin-top: 4px;
}
.media-left{
    vertical-align: middle;
}
@media only screen and (min-width: 768px) {
   
#check.open>.dropdown-toggle {
    box-shadow: inset 0px -2px 0px #3fc3ff;
}
#check>.dropdown-toggle:hover {
box-shadow:  inset 0px -2px 0px #3fc3ff;
-webkit-transition: ease-in-out 0.2s;
-moz-transition: ease-in-out 0.2s;
-ms-transition: ease-in-out 0.2s;
-o-transition: ease-in-out 0.2s;
transition: ease-in-out 0.2s;
}

#hover.dropdown .dropdown-menu {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 0px !important;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

#hover.dropdown:hover .dropdown-menu {
    max-height: 400px;
    opacity: 1;
}
#check.dropdown .dropdown-menu {
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -ms-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

#check.open>.dropdown-menu {
    max-height: 400px;
    opacity: 1;
    border-radius: 0px;
}
.dropdown-menu-hover {
    min-width: 200px !important;
}
#navbar, buton.navbar-toggle {
    padding: 0px 0px 0px 10px;
}
#mobile {
    display: none;
}
#mobile>a>div {
    
    align: center !important;
}
#unread {
    background: #ebebeb;
}
#unread:hover {
    background: #f5f5f5;
}
input#search, button#search {
    height: 30px;
    margin-top: 2px;
}

}
@media only screen and (max-width: 768px) {
 #check, #hover {
     display: none;
   }
#search-bar {
    display: inline !important;
}
input#search {
    width: 90%;
    display: inline !important;
}
button#search {
    display: inline !important;
    float: right;
    width: 10%;
}
.dropdown-menu-hover {
    background: rgb(22,22,22) !important;
}
.dropdown-menu-hover>li>a {
    color: #fff !important;
}
.navbar-form {
    border-style: none !important;
    margin-top: -25px;
    padding: 0px;
}
}